<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="og:title" content="@ViewData["title"]"/>
    @if ((Boolean) ViewData["isArticle"])
    {
        <meta property="og:type" content="article"/>
        <meta property="og:image" content="@ViewData["pictureURL"]">
    }
    else
    {
        <meta property="og:image" content="https://beartec.site/images/banner1.png">
    }
    <meta property="og:description" content="@ViewData["description"]"/>
    <link rel="stylesheet" type="text/css" href="https://beartec.site/stylesheets/reset.css"/>
    <link rel="stylesheet" type="text/css" href="https://beartec.site/stylesheets/main.css"/>
    <link rel="stylesheet" type="text/css" href="~/css/blog_styling.css"/>
    <title>BearTec - @ViewData["Title"]</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>
    </environment>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/lib/fontaw/css/all.css"/>
    <script data-ad-client="ca-pub-3749854383361805" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body style="background-color: #1d2124">
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v8.0&appId=587471388586752&autoLogAppEvents=1" nonce="51wzo7lr"></script>
<div id="header">
    <div class="custom_navbar">
        <a id="brand" href="https://beartec.site/">
            <img src="https://beartec.site/logo.png" id="brand_picture" class="d-inline-block align-top">
            BearTec
        </a>
        <ul id="main_menu">
            <li class="first_list">
                <a href="https://beartec.site/" class="main_menu_first">Inicio</a>
            </li>
            <li class="first_list">
                <a href="/" class="main_menu_first main_current">Blog</a>
            </li>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <nav id="blog_cat_nav" class="d-flex align-content-center">
        <a class="blog_cat_element" href="/">
            <i class="fas fa-home"></i>
        </a>
        <a class="blog_cat_element" id="linux-cat" asp-page="/Index" asp-route-categoria="Linux"><i class="fab fa-linux"></i> Linux</a>
        <a class="blog_cat_element" id="windows-cat" asp-page="/Index" asp-route-categoria="Windows"><i class="fab fa-windows"></i> Windows</a>
        <a class="blog_cat_element" id="macos-cat" asp-page="/Index" asp-route-categoria="macOS"><i class="fab fa-apple"></i> macOS</a>
        <a class="blog_cat_element" id="android-cat" asp-page="/Index" asp-route-categoria="Android"><i class="fab fa-android"></i> Android</a>
        <a class="blog_cat_element" id="desarrollo-cat" asp-page="/Index" asp-route-categoria="Desarrollo"><i class="fas fa-code"></i> Desarrollo</a>
        <a class="blog_cat_element" id="gaming-cat" asp-page="/Index" asp-route-categoria="Gaming"><i class="fas fa-gamepad"></i> Gaming</a>
        <a class="blog_cat_element" id="hardware-cat" asp-page="/Index" asp-route-categoria="Hardware"><i class="fas fa-desktop"></i> Hardware</a>
        <form method="get" asp-page="buscar" id="buscador">
            <input type="text" name="q" placeholder="Buscar"/>
            <button type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </nav>
    <div id="main_content" style=" padding-bottom: 20px">
        <partial name="_CookieConsentPartial"/>
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>
</div>
<div id="footer">
    <div class="footer_info">
        <h4>Quiénes somos</h4>
        <p>Somos un grupo de estudiantes de ingenieria apasionados por la tecnologia y el desarrollo de la misma.</p>
    </div> <!-- END #footer_about -->
    <div class="footer_info">
        <h4>Explorar</h4>
        <ul>
            <li>
                <a href="https://beartec.site/">Inicio</a>
            </li>
            <li>
                <a href="/">Blog</a>
            </li>
        </ul>
    </div> <!-- END #footer_about -->
    <div class="footer_info">
        <h4>Contáctanos</h4>
        <a href="https://www.facebook.com/BearTec-109737720692447" id="facebook" title="Facebook">
            <img src="https://beartec.site/images/facebook_icon.png">
        </a>
    </div>
</div> <!-- END #footer -->
<script src="https://beartec.site/javascript/styling.js" crossorigin="anonymous"></script>


<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
</environment>
<environment exclude="Development">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
</environment>

<script>
    //si jamas habia sido guardada la variable de modo oscuro, la crea
    if(!window.localStorage.getItem("oscuro")){
        window.localStorage.setItem("oscuro","off");
    }
</script>

@RenderSection("Scripts", required: false)
</body>
</html>